<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PRODUCTS</title>
    <link rel="stylesheet" type="text/css" href="/resources/templates/css/styles.css"/>
    <link rel="stylesheet" href="/resources/templates/css/bootstrap/5.1.3/bootstrap.min.css"/>


</head>
<body class="bg-secondary">


<a href="/logout">
    <button class="btn btn-outline-primary" type="submit" style="position:absolute; top:10px; right:10px">Logout
    </button>
</a>



<div class="container">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">OnlineShop</a>
            <div class="collapse navbar-collapse">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/user/cart">Cart</a>
                    </li>

                </ul>

            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2" name="search" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>


        </div>
</div>
</nav>


<main class="st_viewport">
    <div class="st_wrap_table" data-table_id="0">
        <header class="st_table_header">
            <h2>Products</h2>
            <a class="nav-link active" href="/user/cart/clear">
                <button class="btn btn-outline-danger" type="submit">Clear cart</button>
            </a>
            <div class="st_row">
                <div class="st_column name">Name</div>
                <div class="st_column price">Price</div>
                <div class="st_column date">Date</div>
                <div class="st_column description">Description</div>
            </div>
        </header>
        <div class="st_table">
            <#list products as product>
            <div class="st_row">


                <div class="st_column name"><#if product.name??>${product.name}</#if></div>
                <div class="st_column price"><#if product.price??>${product.price?string("###,###,###.00")}</#if></div>
                <div class="st_column date"><#if product.creationDate??>${product.creationDate?datetime.iso}</#if></div>
                <div class="st_column description"><#if product.description??>${product.description}</#if></div>


                <div class="st_column edit">
                    <a href="/user/product/delete?id=${product?index}">
                        <button type="button" class="btn btn-dark" type="submit">Delete</button>
                    </a>
                </div>
            </div>
        </#list>

    </div>
    </body>
</html>