<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ADD PRODUCTS</title>
    <link rel="stylesheet" type="text/css" href="/resources/templates/css/styles.css"/>
    <link rel="stylesheet" href="/resources/templates/css/bootstrap/5.1.3/bootstrap.min.css"/>
</head>
<body class="bg-secondary">
<a href="/logout">
    <button class="btn btn-outline-primary" type="submit" style="position:absolute; top:10px; right:10px">Logout</button>
</a>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">OnlineShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link active" href="/admin/product/add">
                        <button class="btn btn-outline-success" type="submit">Add product</button>
                    </a>
                </ul>

                <form class="d-flex" action="/search" method="GET">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <main class="st_viewport">
        <div class="st_wrap_table" data-table_id="0">
            <header class="st_table_header">
                <h2>Product:</h2>
                <div class="st_row">
                    <div class="st_column id">ID</div>
                    <div class="st_column name">Name</div>
                    <div class="st_column price">Price</div>
                    <div class="st_column date">Date</div>
                    <div class="st_column description">Description</div>
                    <div class="st_column delete"></div>
                    <div class="st_column edit"></div>
                </div>
            </header>
            <div class="st_table">
                <div class="st_row">

                    <div class="st_column id">
                        <#if id??>
                        ${id}
                        </#if>
                    </div>
                    <div class="st_column name">
                        <#if name??>
                        ${name}
                        </#if>
                    </div>
                    <div class="st_column price">
                        <#if price??>
                        ${price?string("###,###,###.00")}
                        </#if>
                    </div>
                    <div class="st_column date">
                        <#if creation_date??>
                        ${creation_date?datetime.iso}
                        </#if>
                    </div>
                    <div class="st_column description">
                        <#if description??>
                        ${description}</div>
                        </#if>
                </div>

            </div>
        </div>

    </main>

    <div class="st_wrap_table" data-table_id="3">
        <header class="st_table_header">
            <h2>Edit product</h2>
            <div class="st_row">
                <div class="st_column date">Name</div>
                <div class="st_column date">Price</div>
                <div class="st_column date">Description</div>
            </div>
        </header>
        <div class="st_table">
            <form action="/admin/product/edit" method="POST">
                <div class="st_row">

                    <div class="st_column date"><input type="text" value=${name} name="name"/></div>
                    <div class="st_column date"><input type="text" value=${price?string.computer} name="price"/></div>
                    <div class="st_column date"><textarea rows="3" cols="30" name="description"/>${description}</textarea></div>
                    <div class="st_column price">
                        <button type="submit" class="btn btn-success" name="id" value=${id}>Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>